/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body{
  font-family: 'Lato', sans-serif;
}

*{
  margin: 0;
  padding: 0;

}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#c0506842 ;
}
.nav{
    font-size: 40px;
    font-weight: 700;
    margin-left: 70px;
    padding: 10px 0;
    color: rgb(54, 45, 45);
}
.nav span{
    color: #E55473;
  }
.nav-link ul{
    display: flex;
    margin-right: 20px;
}
.nav-link ul li{
 list-style: none;
}
.nav-link ul li a{
 text-decoration: none;
 margin-right: 50px;
 font-size: 18px;
 font-weight: 700;
 color: #E55473;
}
